<div class="comments-card-container">
  <div class="card">
    <h4>
      <%= comment.user.name%>
    </h4>
    <p>
      <%= comment.text %>
    </p>
  </div>
  <div class="like">
      <%= link_to like_comment_url, method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
  </div>
</div>