<% @users.each do |user| %>
<div class="user-container">
    <div class="picture">
      <div class="empty-div">
      </div>
    </div>
    <div class="user-name">
      <h1>
        <%= link_to user.name, user_path(user.id) %>
      </h1>
      <p>
        <%= user.posts_counter%>
      </p>
    </div>
  </div>
<% end %>