<section class="show-posts">
  <div class="user-container">
    <div class="picture">
      <div class="empty-div">
      </div>
    </div>
    <div class="user-name">
        <h1>
          Name
        </h1>
        <p>
          Number os posts: X
        </p>
    </div>
  </div>
  <div class="post-1 post">
    <div class="post-info">
      <h4 class="post-title">
        <% @posts.each do |post|%>
        <%= post.title%>
        <%end%>
      </h4>
      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
      </p>
      <div class="comms-likes">
        <p class="comments-counter">
          Comments: X
        </p>
        <p class="likes-counter">
          Likes: Y
        </p>
      </div>
    </div>
    <div class="comments-post-1 comments">
      <div>
        <p>Username: Comment 1</p>
      </div>
      <div>
        <p>Username: Comment 2</p>
      </div>
      <div>
        <p>Username: Comment 3</p>
      </div>
      <div>
        <p>Username: Comment 4</p>
      </div>
    </div>
  </div>
  <div class="post-2 post">
    <div class="post-info">
      <h4 class="post-title">
        Post title
      </h4>
      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
      </p>
      <div class="comms-likes">
        <p class="comments-counter">
          Comments: X
        </p>
        <p class="likes-counter">
          Likes: Y
        </p>
      </div>
    </div>
    <div class="comments-post-2 comments">
      <div>
        <p>Username: Comment 1</p>
      </div>
      <div>
        <p>Username: Comment 2</p>
      </div>
      <div>
        <p>Username: Comment 3</p>
      </div>
      <div>
        <p>Username: Comment 4</p>
      </div>
    </div>
  </div>

  <a href="posts/show">Pagination</a>
</section>