* {
  margin: 0;
  border: none;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header,
footer {
  margin: 20px;
}

html {
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
}

.big-container {
  max-width: 1200px;
  width: 100%;
}

.users-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  margin: 20px;
}

.picture {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.user-name {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
